---
- name: Create directories

  file:
    path: "{{ item }}"
    state: directory
    mode: "0777"
  with_items:
    - "/mnt/stats"

- name: Copy files to Server

  copy:
    src: "{{ playbook_dir }}/resources/system-stats-logger/"
    dest: "/mnt/stats"

- name: Remove existing .env file if it exists

  ansible.builtin.file:
    path: "/mnt/stats/.env"
    state: absent

- name: Check sudo privileges

  command: "sudo -n true"
  register: sudo_check
  ignore_errors: true

- name: Debug sudo check
  debug:
    var: sudo_check

- name: Create .env file with environment variables
  lineinfile:
    path: "/mnt/stats/.env"
    line: "{{ item }}"
    create: yes
  loop:
    - "DEVICE_IP={{ ip_address }}"
    - "API_URL={{ api_url }}"
    - "LOG_LEVEL={{ log_level | default('WARNING') }}"
    - "ENABLE_CONSOLE_LOG={{ enable_console_log | default('0') }}"
    - "VERBOSE={{ verbose | default('0') }}"

- name: Build Docker Container

  command: "docker compose -f /mnt/stats/docker-compose.yml up -d"
