ansible-runner==2.3.4
asgiref==3.7.2
certifi==2024.2.2
charset-normalizer==3.3.2
Django==5.0.1
django-cors-headers==4.3.1
djangorestframework==3.14.0
docker==7.0.0
docutils==0.20.1
idna==3.6
lockfile==0.12.2
packaging==23.2
pexpect==4.9.0
ptyprocess==0.7.0
python-daemon==3.0.1
python-dotenv==1.0.0
pytz==2023.3.post1
PyYAML==6.0.1
requests==2.31.0
six==1.16.0
sqlparse==0.4.4
typing_extensions==4.9.0
urllib3==2.2.0
